:root{
    --golden:#FFB75D;
    --black: #141414;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body{
    background: var(--black);
    color: white;
    width: auto;
    height: auto;
}

/* Navbar e header */

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    color: var(--golden);
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Lobster', sans-serif;

    
}

header nav{
    margin: .5rem 5rem;
}

header nav a {
    color: #AAA;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    margin: 0 1rem;
}

header nav a:hover{
    transition: .5s;
    color: var(--golden);
}

/*Podcast Capa*/
 .container {
     margin: 1rem 5rem;
 }
 .capa .container{
    width: 70%;
 }
.capa{
    font-size: 1.6rem;
    background: linear-gradient(rgba(0,0,0,.10), rgba(0,0,0,.10)100%), url('/img/mano.jpeg') no-repeat;
    background-position: right;
    max-width: auto;
    height: 40rem;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
     
}

.capa .container .text{
    font-family: 'Arial', sans-serif;
    margin-top: 14rem;
    font-size: 2.5rem;
    font-weight: bold;
    width: auto;
    color:#AAA;
}
.capa .about{
    margin: 4rem 0rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color:#AAA;

    
}


.btn {
   background-color: rgba(0,0,0,.50);
   border: 1px solid white;
   color: #AAA;
   padding: 1.5rem;
   border-radius: 1rem;
   margin-right:  1rem;
   
   font-size: 1.6rem;
   

}

.btn:hover{
   background-color: rgba(248, 248, 248, 0.4);
   color: black;
   transition: .5s;
   border: 1px solid white;
   cursor: pointer;
}
i{
    margin-right: .3rem;
    color: white;
}

.carousel{
    margin-top: 1rem;
}

.box-podcast {
    height: 100%;
    width: 100%;
    display: block;
}

.destaques-carousel {
    font-size: 2.5rem;
    margin: 6rem 0rem 1rem 3rem;
}


footer {
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer .redes-sociais {
    margin-left: 7rem;
}

footer i {
    font-size: 2rem;
    justify-content: center;
    display: flex;
    margin: 1.7rem 1rem;
    color: #AAA;

}
footer i:hover {
    color: var(--golden);
    transition: .5s;
}

footer .menu-inferior {
    font-family: 'Roboto', sans-serif;
    margin: 1.7rem 2rem 1.7rem 0rem;
}
footer .menu-inferior a {
    color: #AAA;
    font-size: 1.5rem;
    margin: 0 1rem;
    
}
footer .menu-inferior a:hover{
    color: var(--golden);
    transition: .5s;
}
footer .copy {
    margin: 6rem 0rem 1rem 17rem;
}

